<% include ../partials/header %>

<div class="form-spacing-top"> </div>


<div class="userForm form-bg container">
  <div class="container">
    <h3 class="form-title">Edit Comment</h3>

    <!-- <form action="/campgrounds//comments" method="POST"> -->
            <form action="/campgrounds/<%= campground_id %>/comments/<%=comment._id%>?_method=PUT" method="POST">
            <div class="form-group"><textarea class="form-control" name="comment[text]" placeholder="" rows="4"><%=comment.text%></textarea></div>
      <button class="form-control btn-success">Submit</button>

    </form>
  </div>
</div>


<% include ../partials/footer %>
