<% include partials/header%>

<div class="form-spacing-top"> </div>

<div class="userForm form-bg container">
  <div class="container">
    <h3 class="form-title">Login to YelpCamp</h3>

    <form action="/login" method="POST"> 
        
      <div class="form-group"><input class="form-control" type="text" name="username" placeholder="Username"></div>
      <div class="form-group"><input class="form-control" type="password" name="password" placeholder="Password"></div>
      <button class="form-control btn-success">Submit</button>

    </form>
  </div>
</div>

<% include partials/footer %>
