<% include partials/header%>

<h1>Login</h1>

<form action="/login" method="POST"> 
        
        <div class="userForm">
            <input type="text" name="username" placeholder="username">
            <input type="password" name="password" placeholder="password">
            <input type="submit" value="Login">
        </div>

</form>

<% include partials/footer %>
