<% include partials/header%>

<div class="form-spacing-top"> <br></div>


<div class="userForm form-bg container">
  <div class="container">
    <h3 class="form-title">Sign Up!</h3>

    <form action="/register" method="POST">
      <div class="form-group"><input class="form-control" type="text" name="username" placeholder="username"></div>
      <div class="form-group"><input class="form-control" type="password" name="password" placeholder="password"></div>
      <button class="form-control">Sign Up</button>
    </form>

<% include partials/footer %>
