<% include ../partials/header%>

<div class="container">
  <div class="container banner">
      <h1>Welcome to the Campgrounds Page</h1>
      <p>Explore the Campgrounds of Ontario</p>
      <p>
        <a class="btn btn-success btn-large" href="campgrounds/new">Add New Campground</a>
      </p>
  </div>


  <div class="row">
    <div class="col-lg-12">
      <h3>Our Most Popular Campgrounds</h3>
    </div>
  </div>

  <div class="row">
    <% campgrounds.forEach(function(campground){ %>
      <div class="col-md-3 col-sm-6" style="margin-top:10px" >
        <div class="card">
          <img class="card-img-top" style="height: 200px" src="<%= campground.image %>">
          <p class="card-title"><%= campground.name %></p>
          <p><a href="/campgrounds/<%= campground._id %>" class="btn btn-success">More Info</a></p>
        </div>
        <!-- <h4><%=campground.name%></h4> -->
      </div>
  
    <% }) %>
  </div>


</div>

<% include ../partials/footer %>
