<% include ../partials/header %>

<div class="newCamp form-bg container">
  <div class="container">
    <h3 class="form-title">Create a New Campground</h3>

      <form action="/campgrounds" method="POST">

        <div class="form-group">
          <input class="form-control" type="text" name="name" placeholder="Name">
        </div>
        <div class="form-group">
          <input class="form-control" type="text" name="image" placeholder="Image url">
        </div>

        <div class="form-group">
                <textarea class="form-control" rows="3" type="text" name="description" placeholder="Description"></textarea>
        </div>
        <div class="form-group">
          <button class="btn btn-lg btn-default btn-block btn-primary">Submit!</button>
        </div>

      </form>

  </div>
</div>

<% include ../partials/footer %>
