/* Navbar styling */
.logo {
  width: 45px;
  margin-left: 5%;
}

#brand {
  margin-left: 5%;
  vertical-align: bottom;
}

nav.navbar {
  background-color: #375F1B;
}

div.navbar-collapse.collapse {
  padding-right: 4%;
}

nav.navbar a{
  color: white;
}


.card img {
  width: 100%;
}
.card {
  padding: 0.4%;
}

.delete-form{
 display: inline;
} 

#userForm {
  padding: 100px;
}

body {
  font-family: 'Merriweather', serif;
}
