/*
 * Navbar styling
 * */
.logo {
  width: 45px;
  margin-left: 5%;
}

#brand {
  margin-left: 5%;
  vertical-align: bottom;
}

nav.navbar {
  background-color: #375F1B;
  margin-bottom: 10px;
}

div.navbar-collapse.collapse {
  padding-right: 4%;
}

nav.navbar a{
  color: white;
}


/*
 * Header & Alets
 *  */

div.alert {
  margin: 0 auto 5px auto;
}

div.form-spacing-top {
  padding: 70px 0;
}

div.alert + div.form-spacing-top {
  padding: 40px 0;
}



.delete-form{
 display: inline;
} 


body {
  font-family: 'Merriweather', serif;
  background-color: #EBF7E3;
}

.banner {
  background-color: white;
  padding: 70px 30px 40px 30px;
  margin: 5px 0 40px 0;
  border-radius: 5px;
}


#footer {
  padding: 20px 0;
}


/*
 * Card Styling
 * */

.card img {
  /* width: 100%; */
}

.card {
  padding: 0.4%;
  font-size: 19px;
}

.card.index-title {
  text-align: center;
}

.card-title.index-title {
  padding-top: 10px;
}


/* .btn-color { */
/*   background-color: #66B032; */
/*   border-color: #66B032; */
/* } */


/*
* Forms, login & signup
*  */


.form-bg {
  background-color: white;
  width: 50%;
  border-radius: 4px;
  padding: 30px 0;
}

.form-bg div.container {
  width: 90%;
}

.form-title {
  text-align: center;
  padding-bottom: 25px;
}

#userForm {
  padding: 100px;
}


/*
* Activity Icon
* */

.activity-icons {
  width: 20px;
  height: 20px;
}
